registry=https://pkgs.dev.azure.com/francismolokomme/nfm-poke-api-fe/_packaging/nfm-poke-api-fe/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/francismolokomme/nfm-poke-api-fe/_packaging/nfm-poke-api-fe/npm/registry/:username=francismolokomme
//pkgs.dev.azure.com/francismolokomme/nfm-poke-api-fe/_packaging/nfm-poke-api-fe/npm/registry/:_password=N21xb3p4dndiNWtub2Y2dW1nNDVlcHB5ajV2Zm1kb2o0Ymp6amFxbWtwd3BtN2ZvZ293YQ==
//pkgs.dev.azure.com/francismolokomme/nfm-poke-api-fe/_packaging/nfm-poke-api-fe/npm/registry/:email=francis@molokomme.co.za
//pkgs.dev.azure.com/francismolokomme/nfm-poke-api-fe/_packaging/nfm-poke-api-fe/npm/:username=francismolokomme
//pkgs.dev.azure.com/francismolokomme/nfm-poke-api-fe/_packaging/nfm-poke-api-fe/npm/:_password=N21xb3p4dndiNWtub2Y2dW1nNDVlcHB5ajV2Zm1kb2o0Ymp6amFxbWtwd3BtN2ZvZ293YQ==
//pkgs.dev.azure.com/francismolokomme/nfm-poke-api-fe/_packaging/nfm-poke-api-fe/npm/:email=francis@molokomme.co.za
; end auth token