<br /><br />
<h1 style="text-align: center;">Details of the {{ pokemonName | uppercase }}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-pad">
      <div class="card" style="width: 40rem; margin-top: 40px">
        <div class="card-body">
          <img class="card-img-top img-fluid" src="{{pokemonImage}}" alt="{{pokemonName}}" />
          <p class="card-text">Weight :{{ pokemonWeight }}</p>
          <p class="card-text">Height : {{ pokemonHeight }}</p>
          <p class="card-text">Base Experience : {{ pokemon_experience }}</p>
          <p class="card-text">Abilities : {{ pokemonAbility }}</p>
          <a class="btn btn-primary" [routerLink]="['/home']">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
